<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Steal Fresh.ly</title>

    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="lib/css/style.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/css/chartist.css">
    <link rel="stylesheet" href="lib/css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="SweetApp">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Steal Fresh.ly</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/blog">BLOG</a></li>
                <li><a href="#/bakeries?filter=nearby">NEARBY</a></li>
                <li><a href="#/bakeries">BAKERY LIST</a></li>
              </ul>
            </li>
            <li class="dropdown"
              ng-if="!DataService().user">
              <a class="dropdown-toggle" data-toggle="dropdown">LOGIN / REGISTER <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/login">LOGIN / REGISTER</a></li>
                <li><a href="#/login/customer">LOGIN CUSTOMER</a></li>
                <li><a href="#/login/bakery">LOGIN BAKERY</a></li>
              </ul>
            </li>

            <li class="dropdown"
              ng-if="DataService().user && DataService().user.type == 'consumer'">
              <a class="dropdown-toggle" data-toggle="dropdown">Welcome {{ DataService().user.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/customer/post">POST</a></li>
                <li><a href="#/customer/preferences">ADMIN PANEL</a></li>
                <li><a href="#/customer/statistics">STATISTICS</a></li>
                <li><a href="#/" ng-click="logout()">LOGOUT</a></li>
              </ul>
            </li>

            <li class="dropdown"
                ng-if="DataService().user && DataService().user.type == 'store'">
              <a class="dropdown-toggle" data-toggle="dropdown">{{ DataService().user.name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/bakery/admin">ADMIN PANEL</a></li>
                <li><a href="#/bakery/statistics">STATISTICS</a></li>
                <li><a href="#/bakery/products">PRODUCTS</a></li>
                <li><a href="#/" ng-click="logout()">LOGOUT</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <ng-view></ng-view>

    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
     <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4>About</h4>
            <div class="hline-w"></div>
            <p>This website was created for the purposes of demonstration. All images used were acquired through <a href="https://pixabay.com/">Pixabay</a> and are public domain.</p>
            <p>Created with <a href="http://www.blacktie.co/demo/solid/">Solid</a> theme.</p>
          </div>
          <div class="col-lg-4">
            <h4>Social Links</h4>
            <div class="hline-w"></div>
            <p>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-tumblr"></i></a>
            </p>
          </div>
          <div class="col-lg-4">
            <h4>Our Bunker</h4>
            <div class="hline-w"></div>
            <p>
              Some Ave, 987,<br/>
              23890, New York,<br/>
              United States.<br/>
            </p>
          </div>

        </div><!-- /row -->
      </div><!--/ container -->
     </div><!-- /footerwrap -->

    <script src="https://cdn.jsdelivr.net/g/lodash@4.16.1(lodash.min.js+lodash.core.min.js)"></script>
    <script src="lib/jquery-3.1.0.min.js"></script>
    <script src="lib/jquery.qrcode.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/js/retina-1.1.0.js"></script>
    <script src="lib/js/chartist.js"></script>
    <script src="lib/js/lodash.js"></script>
    <script src="lib/js/jquery.hoverdir.js"></script>
    <script src="lib/js/jquery.hoverex.min.js"></script>
    <script src="lib/js/jquery.prettyPhoto.js"></script>
    <script src="lib/js/jquery.isotope.min.js"></script>

    <script>
      var sweetApp = angular.module('SweetApp', ['ngRoute']);
    </script>

    <script src="js/custom.js"></script>

    <script src="js/service/data.js"></script>
    <script src="js/app.js"></script>

    <script src="js/scripts.js"></script>
    <script src="js/directives/sidebar.js"></script>

    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/contact.js"></script>
    <script src="js/controllers/post.js"></script>
    <script src="js/controllers/bakery.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/voucher.js"></script>
    <script src="js/controllers/home.js"></script>

    <script src="js/controllers/bakery-scan.js"></script>
    <script src="js/controllers/bakery-admin.js"></script>
    <script src="js/controllers/bakery-statistics.js"></script>

    <script src="js/controllers/customer-preferences.js"></script>
    <script src="js/controllers/customer-post.js"></script>
  </body>
</html>
