<style>
  video.live-stream {
    width:100%;
  }
  img.captured-image {
    width:100%;
  }
</style>

<!-- *****************************************************************************************************************
 TITLE
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div>

<md-content class="md-padding" layout-gt-xs="row" layout="column">

  <md-card flex-gt-xs layout="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Scan</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <video class="live-stream" autoplay></video>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised"
        ng-class="{ 'md-primary': !scanned }"
        flex
        ng-click="scan()" >
        {{ !scanned ? 'Scan code' : 'Reset' }}
      </md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-gt-xs layout="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Discount Information</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div ng-show="!scanned">
        <p>
          Please scan a code first
        </p>
      </div>
      <div ng-show="scanned">
        <h1>40% off all pasteries</h1>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised"
        ng-class="{ 'md-primary': scanned }"
        ng-disabled="!scanned"
        class="md-primary"
        flex
        ng-click="scan()">
        {{ !scanned ? 'Please scan first' : 'Coupon used' }}
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>

<canvas style="display:none;"></canvas>
