<style>
  video.live-stream {
    width:100%;
  }
  img.captured-image {
    width:100%;
  }
</style>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
 	<div class="row">
    <div class="col-lg-6">
      <video class="live-stream" autoplay></video>
      <div class="btn btn-default" onclick="scan()">
        Scan
      </div>
    </div>
    <div class="col-lg-6">

    </div>
  </div>

</div>



<canvas style="display:none;"></canvas>

<script>

</script>
