<!-- *****************************************************************************************************************
 TITLE
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div>

<style>
.chart text{
  font-size: 15px;
}
</style>

<!-- *****************************************************************************************************************
	 BLOG CONTENT
	 ***************************************************************************************************************** -->
<div class="container mtb">
 	<div class="row">
 		<div class="col-md-6 col-sm-12">
      <h4>Overall stats</h4>
      <div id="overall" class="chart" style="height:300px"></div>
		</div>

    <div class="col-md-6 col-sm-12">
      <h4>Voucher breakdown</h4>
      <div id="voucher" class="chart" style="height:300px"></div>
    </div>
  </div>


</div>
