<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
 	<div class="row">
    <div class="col-lg-6">
      <video class="live-stream" autoplay></video>
      <div class="btn btn-default" onclick="scan()">
        Scan
      </div>
    </div>
    <div class="col-lg-6">

    </div>
  </div>

</div>

<style>
  video.live-stream {
    width:100%;
  }
  img.captured-image {
    width:100%;
  }
</style>


<canvas style="display:none;"></canvas>

<script>
  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;

  var errorCallback = function(e) {
    console.log('Reeeejected!', e);
  };

  function scan() {
    if ( video.paused ) {
      video.play();
    } else {
      video.pause();
    }
  }

  function snapshot() {
      if (localMediaStream) {
        ctx.drawImage(video, 0, 0);
        // "image/webp" works in Chrome.
        // Other browsers will fall back to image/png.
        document.querySelector('img').src = canvas.toDataURL('image/webp');
      }
    }

    video.addEventListener('click', snapshot, false);

    // Not showing vendor prefixes or code that works cross-browser.
      navigator.getUserMedia({video: true}, function(stream) {
        video.src = window.URL.createObjectURL(stream);
        localMediaStream = stream;
        // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
        // See crbug.com/110938.
        video.onloadedmetadata = function(e) {
          // Ready to go. Do some stuff.
        };
      }, errorCallback);

</script>
