<style>
  video.live-stream {
    width:100%;
  }
  img.captured-image {
    width:100%;
  }

  .fa-check {
    display:none;
    padding-top: 5px;
  }
  .active .fa-check {
    display: inline-block;
  }
</style>


<!-- *****************************************************************************************************************
 TITLE
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div>

<md-content class="md-padding" layout-gt-xs="row" layout="column" ng-show="!posted">
  <md-card flex-gt-xs layout="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Step 1: Photo</span>
        <span class="md-subhead">Share your awesome picture</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <video class="live-stream" autoplay></video>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-class="{ 'md-primary': !captured }" flex ng-click="scan()" >{{ !captured ? 'Take picture' : 'Retake' }}</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-gt-xs layout="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Step 2: Details</span>
        <span class="md-subhead">Let others know how awesome your experience was.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-input-container class="md-block">
        <label>This is awesome because</label>
        <textarea ng-model="description" md-maxlength="160" rows="3" md-select-on-focus></textarea>
      </md-input-container>
      <a class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span> Post to twitter <span class="fa fa-check pull-right"></span>
      </a>

      <a class="btn btn-block btn-social btn-pinterest">
        <span class="fa fa-pinterest"></span> Post to pinterest <span class="fa fa-check pull-right"></span>
      </a>

      <a class="btn btn-block btn-social btn-tumblr">
        <span class="fa fa-tumblr"></span> Post to tumblr <span class="fa fa-check pull-right"></span>
      </a>

      <a class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Post to facebook <span class="fa fa-check pull-right"></span>
      </a>

      <!-- <a class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Post to google+ <span class="fa fa-check pull-right"></span>
      </a> -->

      <a class="btn btn-block btn-social btn-flickr">
        <span class="fa fa-flickr"></span> Post to flickr <span class="fa fa-check pull-right"></span>
      </a>

      <a class="btn btn-block btn-social btn-instagram">
        <span class="fa fa-instagram"></span> Post to instagram <span class="fa fa-check pull-right"></span>
      </a>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-class="{ 'md-primary': captured }" ng-disabled="!captured" flex ng-click="post()">{{ !captured ? 'Take a picture first!' : 'Upload' }}</md-button>
    </md-card-actions>
  </md-card>
</md-content>

<md-content class="md-padding" layout-gt-xs="row" layout="column" ng-show="posted">
  <md-card flex-gt-xs layout="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Thank you for posting this!</span>
        <span class="md-subhead">Now we just wait for people to use your code.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{ description }}
      </p>
      <p>
        You can also share this link with your friends!
      </p>
      <input type="text" class="form-control" readonly ng-model="postLink"/>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Copy link to clipboard</md-button>

    </md-card-actions>
  </md-card>
</md-content>

<canvas style="display:none;"></canvas>
