<style>
  video.live-stream {
    width:100%;
  }
  img.captured-image {
    width:100%;
  }
</style>


<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
 	<div class="row">
    <div class="col-md-6">
      <video class="live-stream" autoplay></video>
    </div>
    <div class="col-md-6" ng-if="posted">
      <h4>Thank you for posting this!</h4>
      <p>
        {{description}}
      </p>
      <p>
        You can share this link with your friends!
      </p>
      <input type="text" class="form-control" readonly ng-model="postLink"/>

    </div>
    <div class="col-md-6" ng-if="!posted">
      <div class="btn btn-default form-control" ng-click="scan()">
        {{ !captured ? 'Take picture' : 'Retake' }}
      </div>
      <div class="information" ng-if="captured">
        <h4>Information</h4>
        <div class="hline"></div>
        <form role="form">
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" id="description" ng-model="description">
          </div>

          <a class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Post to twitter
          </a>

          <a class="btn btn-block btn-social btn-pinterest">
            <span class="fa fa-pinterest"></span> Post to pinterest
          </a>

          <a class="btn btn-block btn-social btn-tumblr">
            <span class="fa fa-tumblr"></span> Post to tumblr
          </a>

          <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Post to facebook
          </a>

          <a class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Post to google+
          </a>

          <a class="btn btn-block btn-social btn-flickr">
            <span class="fa fa-flickr"></span> Post to flickr
          </a>

          <a class="btn btn-block btn-social btn-flickr">
            <span class="fa fa-flickr"></span> Post to flickr
          </a>

          <button type="submit" class="btn btn-theme form-control" ng-click="post()">Post</button>
        </form>
      </div>
    </div>
  </div>

</div>



<canvas style="display:none;"></canvas>

<script>

</script>
