

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>Text about pastries goes here</h3>
          <h1>For the love of cupcakes.</h1>
          <h5>Discovery. Discounts. Community.</h5>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="img/main.jpg" class="img-responsive">
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
