

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>For the love of cupcakes.</h1>
          <h3>Discovery. Discounts. Community.</h3>
        </div>
        <div class="col-lg-8 col-lg-offset-2 himg">
          <img src="img/main.jpg" class="img-responsive">
        </div>
      </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<div id="service">
 	<div class="container">
			<div class="row centered">
      <h1>How it works</h1>
      <div class="col-sm-4">
					<i class="fa fa-camera"></i>
					<h4>Snap</h4>
					<p>Just take a picture of your pastries like you would normally do. Don't worry, the app will prompt you to share if you forget.</p>
				</div>
				<div class="col-sm-4">
					<i class="fa fa-users"></i>
					<h4>Share</h4>
        <p>Share the picture along with a discount code with all your friends on social media. The more the better.</p>
				</div>
				<div class="col-sm-4">
					<i class="fa fa-trophy"></i>
					<h4>Get Rewarded</h4>
        <p>
          When anyone uses your discount code, you get points. Simple as that. You can use these points to redeem all sorts of rewards.
        </p>
				</div>
 		</div>
 	</div><!-- --/container ---->
 </div>
