<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>Login / Register.</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


 <div class="container mtb">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4">
      <h4>Login</h4>
      <div class="hline"></div>
      <p>Welcome back!</p>
      <form role="form" ng-submit="login()" >
        <div class="form-group">
          <label for="InputEmail1">Email address</label>
          <input type="email" class="form-control" ng-model="email" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" ng-model="password" id="password">
        </div>
        <button type="submit" class="btn btn-theme">Log In</button>
      </form>
    </div><! --/col-lg-8 -->

    <div class="col-lg-4">
      <h4>Register</h4>
      <div class="hline"></div>
      <p>Sign up today to enjoy lots of benefits!</p>
      <form role="form">
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="InputEmail1">Email address</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
          <label for="password2">Password again</label>
          <input type="password" class="form-control" id="password2">
        </div>
        <button type="submit" class="btn btn-theme">Register</button>
      </form>
    </div>
  </div><! --/row -->
 </div><! --/container -->
