<!-- *****************************************************************************************************************
 TITLE
 ***************************************************************************************************************** -->
<div id="title" class="default-primary-color">
    <div class="container">
    <div class="row">
      <h3>{{pageTitle}}</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div>


<div class="container mt">
	 	<div class="row">
		 	<div class="col-lg-10 col-lg-offset-1 centered">
			 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
            <div class="item">
      	      <img src="http://placehold.it/1000x450" alt="">
      	    </div>
      	    <div class="item">
      	      <img src="http://placehold.it/1000x450" alt="">
      	    </div>
      	    <div class="item active">
      	      <img src="http://placehold.it/1000x450" alt="">
      	    </div>
      	  </div>
				  </div>
				</div><!-- --/Carousel ---->
		 	</div>

		 	<div class="col-lg-5 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Discount Information</h4>
		 		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		 		<h4>Bakery Information</h4>
		 		<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		 	</div>

		 	<div class="col-lg-4 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Voucher Details</h4>
		 		<div class="hline"></div>
		 		<p><b>Expiry:</b> April 18, 2014</p>
		 		<p><b>Discount:</b> 25%</p>
		 		<p><b>Applicable to::</b> Rosemary cake</p>
		 		<p><b>Website:</b> <a href="http://bakery.com">http://bakery.com</a></p>
        <p>
          <div id="qrcode"></div>
        </p>
		 	</div>

	 	</div><!-- --/row ---->
  </div>
